.mat-form-field {
  margin: 10px;
}



/*.mat-expansion-panel.mat-expanded {
  background-color: white;
}*/

/*.mat-expansion-panel-header {
  background: green !important;
}*/

/*.mat-expansion-panel.mat-expanded:hover {
  background: white;
}*/



.mat-expansion-panel-header-title {
  color: white;
  font-family: Calibri;
  font-size: large;
  font-weight: 600;
}


/*#testclass .mat-expansion-panel-header {
  background: green;
}*/

